# ClickHouse
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_DB=default

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=postgres
POSTGRES_DB=de_db

# Airflow — логин в UI
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Airflow — криптографические ключи.
# Оставь пустыми: `make init` сгенерирует их автоматически.
AIRFLOW_SECRET_KEY=
AIRFLOW_FERNET_KEY=
