# ClickHouse
CLICKHOUSE_USER=admin
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=default

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=
POSTGRES_DB=de_db

# Airflow
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=
AIRFLOW_SECRET_KEY=
AIRFLOW_FERNET_KEY=

